# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.pytest_cache/

# Environments
.env
.venv

# Type checkers
.mypy_cache/
.pyre/

# Linters
.ruff_cache/
